.DS_Store
utils/__pycache__/generateData.cpython-310.pyc
utils/__pycache__/nearestMeansClassifier.cpython-310.pyc
utils/__pycache__/plotDecBoundaries.cpython-310.pyc
utils/__pycache__/plotGraph.cpython-310.pyc
nearestMeansClassifier_old.py
